@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);


.form-horizontal .form-group {
	margin-right: -15px;
	margin-left: -15px;
}

.form-group {
	margin-bottom: 20px;
}



@media (max-width:1546px ){
	.col-sm-1 {
		display:none;
		
	}
	
}

@media (max-width:773px ){
	.col-sm-1 {
		display: block;
		
	}
	
}

label {
	font-weight: bold;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 17px;
	margin-top: 5px;
}


.btn-primary{
	line-height: 33px;
	font-size: 18px;
	min-width: 100px;
	border-radius: 24px;
	background-color: #39bee8;
	color:#fff;
}

.btn-default{
	line-height: 33px;
	font-size: 18px;
	min-width: 100px;
	border-radius: 24px;
	background-color: #39bee8;
	color:#fff;	
}

.modal-header{
	text-align: center;
}

.modal-header .close{
	font-size: 3em;
}


.modal-body .control-label{
	margin-top: 20px;
}

.modal_low_button{
	background-color: black;
	display: inline-block;
	bottom: 15px;
	color: #fff;
}

/*테이블*/

.decor-default {
	background-color:#fffff !important;
	box-shadow: 1px 0px 12px 1px #E0E0E0;
}

.row {
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

@media (max-width: 768px) {
	.no-mobile-m-20 {
		margin: 0 -20px;
	}
}

.table-responsive {
	overflow-x: visible;
	min-height: 0.01%;
}

.dataTables_wrapper {
	border: 1px solid #ECEFF1 !important;
	position: relative;
	clear: both;
}

div.DTTT_container {
	position: relative;
	float: left;
	margin: 20px !important;
}

a.DTTT_button {
	background: #f2a654;
	box-shadow: none;
	margin: 0;
	color: #ffffff !important;
	border: 0;
	border-radius: 0;
	padding: 0 10px;
	line-height: 40px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	text-shadow: none;
	position: relative;
	cursor: pointer;
}

/*서치*/

.dataTables_filter {
	margin: 20px;
}

.dataTables_wrapper .dataTables_filter {
	color: #333;
}

.dataTables_wrapper .dataTables_filter {
	float: right;
	text-align: right;
}

label{
	display: inline-block;
	max-width: 100%;
}

.dataTables_wrapper .dataTables_filter input {

	border: 3px solid #ECEFF1;
	color: #000;
	line-height: 40px;
	padding: 0 10px;
	margin-left: 0.5em;
}

input {
	border-radius: 0;
	border:none;
	outline: none;
}

input[type="search"]{
	box-sizing: border-box;
}

.dataTables_wrapper table.dataTable.no-footer {
	border-bottom: 1px solid #a3afb7 !important;
	border-top: 1px solid #a3afb7 !important;
}

table.dataTable {
	box-sizing: content-box;
	width:100%;
	margin: 0 auto;
	clear: both;
	border-collapse: separate;
	border-spacing: 0;
}

table {
	background-color: transparent;
}

thead th {
	font-size: 20px;
	height: 40px;
	text-align: center;
	border: 1px solid #e6eaed;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgba(219, 232, 245, 0.44)));
	font-weight: bold;
}

tbody tr:hover {
	background-color: rgb(255, 152, 0);
	color:#fff;
	transition: background-color .2s;
}

tbody td {
	border:1px solid #e6eaed;
	height: 40px;
	text-align: center;
	cursor: pointer;
}

tbody td:hover:nth-child(2){
	color: #fff;
	font-weight: bold;
	font-size:1.2em;
}


/*애니메이티드 전체 버튼*/
.container {
	cursor: pointer;
	display: inline-block;
	margin-top: 10px;
	margin-left: 7px;
	width: 60px;
}

@media (max-width:768px){
	.container {
		margin-left: -5px;
	}
}

.bar1, .bar2, .bar3 {

	width: 35px;
	height: 5px;
	background-color: #fff;
	margin: 6px 0;
	transition: 0.4s;
}

@media (max-width:768px){
	.bar1, .bar2, .bar3 {
		margin-right: 100px;
	}
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}


/*사이드메뉴*/

/*2016.05.30 수정*/
.sidenav {
	height:100%;
	background-color: #fff;
	position: fixed;
	top:0px;
	left:-20px;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	box-shadow: 0px 0px 12px 1px #E0E0E0;
	width: 0%;
	z-index: 10;

}

.sidenav.expand {
	left: 0;
	transition: 0.5s;
}

@media (max-width:790px){
	.sidenav{
		width: 40%;
	}
}

.sidenav a {

	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s
}

@media (max-width:790px){
	.sidenav a {
		padding: 8px 0px 8px 4px;
		font-size: 15px;
	}
}

.sidenav a:hover, .offcanvas a:focus {
	color: #f1f1f1;
}

.closebtn {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 36px !important;
	margin-left: 50px;
}

@media (max-width:790px){
	.closebtn{
		margin-right:20px;
	}
}


/*아이콘카드*/
.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;

}

.overlay-content {
	position: relative;
	top: 15%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.icoclosebtn {
	text-decoration: none;
	position: absolute;
	top: 40px;
	left: 30px;
	font-size: 60px !important;
	text-decoration: none !important;
	color:#000;
}

.overlay-content input[type=text] {
	width:400px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url(http://www.w3schools.com/howto/searchicon.png);
	background-position: 10px;
	background-repeat: no-repeat;
	padding: 15px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.overlay-content input[type=text]:focus {
	width: 60%;
}

/*아이디박스내용*/
.messageCardwrap {	
	/*box-shadow: 0px 0px 26px rgba(200, 201, 201, 0.5);*/
	background: #fff;
	width: 350px;
	display: inline-block;
	margin: 100px 0 0 50px;
	-webkit-transform: translateX(-10%) translateY(-10%);
			transform: translateX(-10%) translateY(-10%);
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, 0.06);

}

.messageCardwrap .block-text {
	padding: 10px;
}


.messageCardwrap .block-text h1 {
	color: #9E9E9E;
	font-size: 20px;
	margin: 30px 0;
	font-weight: bold;
}

.messageCardwrap .block-text hr {
	display: block;
	border: none;
	margin: 0;
	width: 30px;
	background: #efefef;
	margin-bottom: 25px;
	height: 2px;
}

.messageCardwrap .block-text p {
	font-weight: 300;
	line-height: 20px;
	font-size: 14px;
}

.messageCardwrap .block-date {
	position: relative;
	width: 100%;

}

.messageCardwrap .block-date-bg {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
}

.messageCardwrap span{
	display: block;
	float: left;
	height: 10px;
	bottom: 0;
	left: 0;
	content: "";
	-webkit-transiton: all 0.25;
	transition: all 0.75s;
	-webkit-transform: translateY(40px);
			transform: translateY(40px);	
}

.messageCardwrap span.dark{
	background: #5FB2B2;
}

.messageCardwrap span.light{
	background: #9BCFCF;
}

.messageCardwrap span.percent-75 {
	width: 75%;
}

.messageCardwrap span.percent-25 {
	width: 25%;
}

.messageCardwrap:hover {
	transition: all 0.45s;	
	box-shadow: 0 10px 20px rgba(200, 201, 201, 0.5);
}

.messageCardwrap:hover .block-text h1 {
	margin-top: 5px;
	transition: all 0.45s;	
}

.messageCardwrap:hover .block-text hr {
	height: 1px;
	transition: all 0.45s;	
}

.messageCardwrap:hover .block-date span {
	height: 45px;
	transition: all 0.45s;	
}

/*캘린더*/
.calendarmyNav {
	width: 100%;
	height: 0%;
	position: fixed;
	z-index: 1;
	top:0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: #7bd9d8;
	overflow-y: hidden;
	transition: 0.5s;
}

.cal-closebtn {
	position: absolute;
	top:20px;
	right: 100px;
	font-size: 50px;
	text-decoration: none !important;
	color: #000;
}

/*캘린더 내부 */
.calendar_wrapper {
	box-sizing: border-box;
	list-style-type: none;
	margin:100px 0 0 400px;
}

.month {
	padding: 70px 25px;
	width: 70%;
	background: #1abc9c;
}

.month ul {
	margin: 0;
	padding: 0;
}

.month ul li {
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.month .prev {
	float: left;
	padding-top: 10px;
}

.month .next {
	float: right;
	padding-top: 10px;
}

.weekdays {
	width: 70%;	
	margin: 0;
	padding: 10px 0;
	background-color: #ddd;
}

.weekdays li {
	
	display: inline-block;
	width: 13.6%;
	color: #666;
	text-align: center;
}

.days {
	width: 70%;		
	padding: 10px 0;
	background: #eee;
	margin: 0;
}

.days li {

	list-style-type: none;
	display: inline-block;
	width: 13.5%;
	text-align: center;
	margin-bottom: 5px;
	font-size: 12px;
	color: #777;
}

.days li .active {
	padding: 5px;
	background: #1abc9c;
	color: white !important;
}

@media (max-width:1440px){
	.calendar_wrapper{

	width:100%;
	margin:100px 0 0 200px;
	}
}

@media (max-width:716px){
	.calendar_wrapper{

	width:50%;
	margin:100px  0 0 200px;
	}
}

/*테이블 페이지네이션*/
.table_pagination{
	margin: 40px 0;
	text-align: center;
}

ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
}

ul.pagination li {display: inline; }

ul.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	background-color: #fff;
}

ul.pagination > li > a:hover {
	background-color: #FF9800;
	color: #ffffff;
	z-index: 3;
}

span.total_number{
	font-size: 1.5em;
	font-weight: bold;
	display: block;
	text-align: right;
}

/*2016.05.30 수정*/
.img-frame {
	max-width: 600px;
}
